<div class="content-wrapper">
    <section class="content-header">
        <h1>
            Veículos
            <small>Cadastro de veículos</small>
        </h1>
        <ol class="breadcrumb">
            <li>
                <a href="#">
                    <i class="fa fa-dashboard"></i> Home</a>
            </li>
            <li>
                <a href="#">Cadastrar</a>
            </li>
            <li class="active">Veículos</li>
        </ol>
    </section>

    <section class="content">
        <div class="row">
            <div class="col-md-12">
                <div class="box box-defaut">
                    <!-- <div class="box-header with-border">
                        <h3 class="box-title">Cadastro de Veículos</h3>
                    </div> -->
                    <div class="form-horizontal">
                        <div class="box-body">
                            <div class="col-md-offset-1">
                                <h4>Cadastro de Veículos</h4>
                            </div>
                            <div class="form-group">
                                <label for="placa" class="col-sm-2 control-label">Placa</label>

                                <div class="col-sm-4">
                                    <input type="text" class="form-control" id="placa" [(ngModel)]="veiculo.placa">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="modelo" class="col-sm-2 control-label">Modelo</label>

                                <div class="col-sm-4">
                                    <input type="text" class="form-control" id="modelo" [(ngModel)]="veiculo.modelo">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="cor" class="col-sm-2 control-label">Cor</label>

                                <div class="col-sm-4">
                                    <input type="text" class="form-control" id="cor" [(ngModel)]="veiculo.cor">
                                </div>
                            </div>
                            <div class="col-md-offset-1">
                                <h4>Cadastro de Pessoa</h4>
                            </div>
                            <div class="form-group">
                                <label for="nome" class="col-sm-2 control-label">Nome</label>

                                <div class="col-sm-4">
                                    <input type="text" class="form-control" id="nome"
                                        [(ngModel)]="veiculo.cliente.nome">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="cpf" class="col-sm-2 control-label">CPF</label>

                                <div class="col-sm-4">
                                    <input type="text" class="form-control" id="cpf"
                                        [ngModel]="veiculo.cliente.cpf | cpf"
                                        (ngModelChange)="veiculo.cliente.cpf = $event" maxlength="11">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="telefone" class="col-sm-2 control-label">Telefone</label>

                                <div class="col-sm-4">
                                    <input type="text" class="form-control" id="telefone"
                                        [ngModel]="veiculo.cliente.telefone | telefone"
                                        (ngModelChange)="veiculo.cliente.telefone = $event" maxlength="11">
                                </div>
                            </div>

                            <div class="col-md-offset-1">
                                <h4>Vincular ao Estacionamento</h4>
                            </div>
                            <div class="form-group">
                                <label for="telefone" class="col-sm-2 control-label">Estacionamento</label>
                                <div class="col-sm-4">
                                    <select class="form-control" [(ngModel)]="veiculo.patio">
                                        <option [ngValue]="patio" *ngFor="let patio of patios"> {{ patio.descricao }}
                                        </option>
                                    </select>

                                    <!-- <select  class="form-control" [(ngModel)]="veiculo.patio" *ngFor="item as item.descricao for item of patios" >

                                    </select> -->
                                </div>
                            </div>

                        </div>
                        <div class="box-footer">
                            <button type="button" class="btn btn-primary btn-sm col-md-2 col-md-offset-2"
                                (click)="salvarVeiculo()" [disabled]="!veiculo.patio.id">Salvar</button>
                        </div>

                        <div *ngIf="msgSucesso" class="alert alert-success" role="alert"
                            style="top: 20px; right: 20px; position: fixed; width: 310px; height: auto; margin: 0px; padding: 0px; list-style-type: none; z-index: 10000000;">
                            <button type="button" class="close" data-dismiss="alert"><span
                                    aria-hidden="true">×</span><span class="sr-only">Close</span></button>
                            <strong>Muito bem!</strong> Já consegui salvar os dados que pediu.
                        </div>
                        <div *ngIf="msgErro" class="alert alert-danger" role="alert"
                            style="top: 20px; right: 20px; position: fixed; width: 310px; height: auto; margin: 0px; padding: 0px; list-style-type: none; z-index: 10000000;">
                            <li
                                style="overflow: hidden; background: rgb(182, 70, 69); border-radius: 3px; border: 1px solid rgb(182, 70, 69); box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 2px; color: rgb(255, 255, 255); opacity: 1; width: 310px; cursor: pointer;">
                                <div class="noty_bar noty_type_error" id="noty_1428400014848141800">
                                    <div class="noty_message"
                                        style="font-size: 11px; line-height: 14px; text-align: left; padding: 8px 10px 9px; width: auto; position: relative;">
                                        <button type="button" class="close" data-dismiss="alert"><span
                                                aria-hidden="true">×</span><span class="sr-only">Close</span></button>
                                        <strong>Oh nãooo!</strong> Não consegui salvar o que você pediu.
                                    </div>
                                </div>
                            </li>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>