<div class="content-wrapper">
    <section class="content-header">
        <h1>
            Veículos
            <small>Cadastro de veículos</small>
        </h1>
        <ol class="breadcrumb">
            <li>
                <a href="#">
                    <i class="fa fa-dashboard"></i> Home</a>
            </li>
            <li>
                <a href="#">Cadastrar</a>
            </li>
            <li class="active">Veículos</li>
        </ol>
    </section>

    <section class="content">
        <div class="row">
            <div class="col-md-12">
                <div class="box box-defaut">
                    <!-- <div class="box-header with-border">
                        <h3 class="box-title">Cadastro de Veículos</h3>
                    </div> -->
                    <form class="form-horizontal">
                        <div class="box-body">
                            <div class="col-md-offset-1">
                                <h4>Cadastro de Veículos</h4>
                            </div>
                            <div class="form-group">
                                <label for="placa" class="col-sm-2 control-label">Placa</label>

                                <div class="col-sm-4">
                                    <input type="text" class="form-control" id="placa">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="modelo" class="col-sm-2 control-label">Modelo</label>

                                <div class="col-sm-4">
                                    <input type="text" class="form-control" id="modelo">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="cor" class="col-sm-2 control-label">Cor</label>

                                <div class="col-sm-4">
                                    <input type="text" class="form-control" id="cor">
                                </div>
                            </div>
                            <div class="col-md-offset-1">
                                <h4>Cadastro de Pessoa</h4>
                            </div>
                            <div class="form-group">
                                <label for="nome" class="col-sm-2 control-label">Nome</label>

                                <div class="col-sm-4">
                                    <input type="text" class="form-control" id="nome">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="cpf" class="col-sm-2 control-label">CPF</label>

                                <div class="col-sm-4">
                                    <input type="text" class="form-control" id="cpf">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="telefone" class="col-sm-2 control-label">Telefone</label>

                                <div class="col-sm-4">
                                    <input type="text" class="form-control" id="telefone">
                                </div>
                            </div>

                            <div class="col-md-offset-1">
                                <h4>Vincular ao Estacionamento</h4>
                            </div>
                            <div class="form-group">
                                <label for="telefone" class="col-sm-2 control-label">Estacionamento</label>
                                <div class="col-sm-4">
                                    <select class="form-control">
                                        <option>option 1</option>
                                        <option>option 2</option>
                                        <option>option 3</option>
                                        <option>option 4</option>
                                        <option>option 5</option>
                                    </select>
                                </div>
                            </div>

                        </div>
                        <div class="box-footer">
                            <button type="button"
                                class="btn btn-primary btn-sm col-md-2 col-md-offset-2">Salvar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
</div>