<div class="login-box">
    <div class="login-box-body">
      <p class="login-box-msg">Faça login para iniciar sua sessão</p>
  
      <div class="form-login">
        <div class="form-group has-feedback">
          <input type="email" class="form-control" [(ngModel)]="usuario.email" placeholder="Email">
          <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
        </div>
        <div class="form-group has-feedback">
          <input type="password" class="form-control" [(ngModel)]="usuario.senha" placeholder="Senha">
          <span class="glyphicon glyphicon-lock form-control-feedback"></span>
        </div>
        <div class="row">
          <div class="col-xs-12">
            <button type="submit" class="btn btn-primary btn-block btn-flat" (click)="login()">ENTRAR</button>
          </div>
        </div>
        <br>
        <div class="row">
          <div class="col-xs-6">
            <a routerLink="/cadastrar" class="text-center">Não sou cadastrado</a>
          </div>
        </div>
      </div>
    </div>
  </div>