<div class="content-wrapper">
    <section class="content-header">
        <h1>
            Estacionamento
            <small>Lista de carros estacionados</small>
        </h1>
        <ol class="breadcrumb">
            <li>
                <a href="#">
                    <i class="fa fa-dashboard"></i> Home</a>
            </li>
            <li class="active">Estacionamento</li>
        </ol>
    </section>

    <section class="content">
        <div class="row">
            <div class="col-xs-12">
                <div class="box">
                    <div class="box-header">
                        <h3 class="box-title">Carros Estacionados</h3>
                    </div>
                    <div class="box-body">
                        <div id="example1_wrapper" class="dataTables_wrapper form-inline dt-bootstrap">
                            <div class="row">
                                <div class="table-responsive">
                                    <div class="col-sm-12">
                                        <table id="tabela" class="table table-bordered table-striped">
                                            <thead>
                                                <tr>
                                                    <th class="text-center">Entrada</th>
                                                    <th class="text-center">Permanência</th>
                                                    <th class="text-center">Placa</th>
                                                    <th class="text-center">Saída</th>
                                                    <th class="text-center">Valor</th>
                                                    <th class="text-center">Ações</th>
                                                </tr>
                                            </thead>
                                            <tbody *ngFor="let est of estacionamento" >
                                                <tr>
                                                    <td style="text-align: center">{{ est.entrada | date:'dd-MM-yyyy HH:mm' }}</td>
                                                    <td style="text-align: center">{{ est.permanencia != null ? est.permanencia : 0 }} min</td>
                                                    <td style="text-align: center">{{ est.placa }}</td>
                                                    <td style="text-align: center">{{ est.saida != null ? (est.saida | date:'dd-MM-yyyy HH:mm') : 0 }}</td>
                                                    <td style="text-align: center">R$ {{ est.valor |  number: '1.2-2' }}</td>
                                                    <td style="text-align: center">
                                                    <td class="text-center">
                                                        <a title="Gerar custo do tempo estacionado" (click)="custoEstacionamento(est)">
                                                            <i class="fa fa-dollar"></i></a>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>