<div class="content-wrapper">
    <section class="content-header">
        <h1>
            Pátio
            <small>Cadastro de pátios</small>
        </h1>
        <ol class="breadcrumb">
            <li>
                <a href="#">
                    <i class="fa fa-dashboard"></i> Home</a>
            </li>
            <li>
                <a href="#">Cadastrar</a>
            </li>
            <li class="active">Pátio</li>
        </ol>
    </section>

    <section class="content">
        <div class="row">
            <div class="col-md-12">
                <div class="box box-defaut">
                    <div class="box-header with-border">
                        <h3 class="box-title">Cadastro de Pátio</h3>
                    </div>
                    <div class="form-horizontal">
                        <div class="box-body">
                            <div class="form-group">
                                <label for="descricao" class="col-sm-2 control-label">Descrição</label>

                                <div class="col-sm-4">
                                    <input type="text" class="form-control" [(ngModel)]="patio.descricao">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="vagas" class="col-sm-2 control-label">Nº de vagas</label>

                                <div class="col-sm-4">
                                    <input type="text" class="form-control" [(ngModel)]="patio.qtdVaga">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="taxa" class="col-sm-2 control-label">Taxa/Hora</label>

                                <div class="col-sm-4">
                                    <input type="text" class="form-control" [(ngModel)]="patio.taxaHora">
                                </div>
                            </div>
                        </div>
                        <div class="box-footer">
                            <button type="button" class="btn btn-primary btn-sm col-md-2 col-md-offset-2"
                                (click)="salvarPatio()">Salvar</button>
                        </div>

                        <div *ngIf="msgSucesso" class="alert alert-success" role="alert"
                            style="top: 20px; right: 20px; position: fixed; width: 310px; height: auto; margin: 0px; padding: 0px; list-style-type: none; z-index: 10000000;">
                            <button type="button" class="close" data-dismiss="alert"><span
                                    aria-hidden="true">×</span><span class="sr-only">Close</span></button>
                            <strong>Muito bem!</strong> Já consegui salvar os dados que pediu.
                        </div>
                        <div *ngIf="msgErro" class="alert alert-danger" role="alert"
                            style="top: 20px; right: 20px; position: fixed; width: 310px; height: auto; margin: 0px; padding: 0px; list-style-type: none; z-index: 10000000;">
                            <li
                                style="overflow: hidden; background: rgb(182, 70, 69); border-radius: 3px; border: 1px solid rgb(182, 70, 69); box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 2px; color: rgb(255, 255, 255); opacity: 1; width: 310px; cursor: pointer;">
                                <div class="noty_bar noty_type_error" id="noty_1428400014848141800">
                                    <div class="noty_message"
                                        style="font-size: 11px; line-height: 14px; text-align: left; padding: 8px 10px 9px; width: auto; position: relative;">
                                        <button type="button" class="close" data-dismiss="alert"><span
                                                aria-hidden="true">×</span><span class="sr-only">Close</span></button>
                                        <strong>Oh nãooo!</strong> Não consegui salvar o que você pediu.
                                    </div>
                                </div>
                            </li>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>