<div class="content-wrapper">
    <section class="content-header">
        <h1>
            Dashboard
            <small>Painel de Controle</small>
        </h1>
        <ol class="breadcrumb">
            <li>
                <a href="#">
                    <i class="fa fa-dashboard"></i> Home</a>
            </li>
            <li class="active">Dashboard</li>
        </ol>
    </section>

    <section class="content">
        <div class="row">
            <div class="col-lg-3 col-xs-4">
                <!-- small box -->
                <div class="small-box bg-aqua">
                    <div class="inner">
                        <h3>{{ vagas.totalVagasOcupadas }}</h3>

                        <p>Vagas Ocupadas</p>
                    </div>
                    <div class="icon">
                        <i class="ion  ion-android-car"></i>
                    </div>
                    <a routerLink="/paginas/carros-estacionados" class="small-box-footer">Mais informações <i class="fa fa-arrow-circle-right"></i></a>
                </div>
            </div>
            <div class="col-lg-3 col-xs-4">
                <!-- small box -->
                <div class="small-box bg-aqua">
                    <div class="inner">
                        <h3>{{ vagas.totalVagasLivres }}</h3>

                        <p>Vagas Livres</p>
                    </div>
                    <div class="icon">
                        <i class="fa fa-road"></i>
                    </div>
                    <a routerLink="/paginas/carros-estacionados" class="small-box-footer">Mais informações <i class="fa fa-arrow-circle-right"></i></a>
                </div>
            </div>
        </div>
    </section>
</div>